<% content_for :body_content_left do %>
  <ul id="seasons">
    <% @seasons.each do |season| %>
      <li>
      <%= link_to season.name, root_url(:set_season => season.id) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
